<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <p class="border">ようこそ、ながのCAKEへ！</br>このサイトは、ケーキ販売のECサイトになります。</br>会員でない方も商品の閲覧ができますが、</br>購入には会員登録が必要になります。</p>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @item_new.each do |item| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <%= link_to item_path(item.id) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "150x150" %>
        <% else %>
          <%= image_tag 'no_image', size: "150x150" %>
        <% end %>
        <div>
          <p><%= item.name %></p>
          <p><%= item.price %></p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-right"><%= link_to "全ての商品を見る>", items_path  %></div>

