<% if @item.image.attached? %>
  <%= image_tag @item.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image', size: "200x200" %>
<% end %>
<div>
  <span>商品名</span>
  <span><%= @item.name %></span>
</div>
<div>
  <span>商品名説明</span>
  <span><%= @item.introduction %></span>
</div>
<div>
  <span>¥<%= @item.price %>(税込)</span>
</div>