<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <div class="container bg-white">
          <div class="text-right">
            <button class="btn btn-info">
              <%= link_to "マイページ", destroy_customer_session_path, method: :delete %>
            </button>
            <button class="btn btn-info">
              <%= link_to "商品一覧", items_path %>
            </button>
            <button class="btn btn-info">
              <%= link_to "カート" %>
            </button>
            <button class="btn btn-info">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </button>
          </div>
        </div>
      <% else %>
        <div class="container bg-white">
          <div class="text-right">
            <button class="btn btn-info">
              <%= link_to "About", about_path %>
            </button>
            <button class="btn btn-info">
              <%= link_to "商品一覧", items_path %>
            </button>
            <button class="btn btn-info">
              <%= link_to "新規登録", new_customer_registration_path %>
            </button>
            <button class="btn btn-info">
              <%= link_to "ログイン", new_customer_session_path %>
            </button>
          </div>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
